{% extends 'base.html.twig' %}

{% block title %}Editar Tarea!{% endblock %}

{% block body %}
    <h1>Editar tarea!</h1>
    {% include 'tarea/_formulario.html.twig' with {'accion' : path('app_editar_tarea', {'listaId': lista.id, 'id': tarea.id}), 'etiqueta_btn_enviar':'Editar'} %}
{% endblock %}
