{% extends 'base.html.twig' %}

{% block title %}Crear Lista!{% endblock %}

{% block body %}
<h1>Crear Lista</h1>
{% include 'lista_tarea/_formulario.html.twig' with {'accion' : path('app_crear')} %}
{% endblock %}
